In [1]:
import pandas as pd

In [2]:
model = pd.read_pickle('HousePricePredictor')

In [3]:
model

LinearRegression()

In [4]:
cols = ['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms','Area Population']

In [13]:
income = eval(input('Enter the income: '))
house_age = eval(input('Enter the house age: '))
rooms = eval(input('Enter the number of rooms: '))
population = eval(input('Enter the populaion: '))
query = pd.DataFrame({'Avg. Area Income':[income],
                      'Avg. Area House Age':[house_age],
                      'Avg. Area Number of Rooms':[rooms],
                      'Area Population':[population]})

Enter the income:  100000
Enter the house age:  10
Enter the number of rooms:  10
Enter the populaion:  50000

In [14]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,100000,10,10,50000

In [15]:
model.predict(query)

array([3150037.60985679])

In [16]:
print('Price for the house can be: %.1f$'%(model.predict(query)))

Price for the house can be: 3150037.6$